*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #03213d;
    color: white;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

/*
paleta de cores  azul
.color1 { #0a4c6c };
.color2 { #083e5c };
.color3 { #052f4d };
.color4 { #03213d };
.color5 { #00122d };
*/

/*header*/

header{
    width: 100%;
    height: 60px;
    background-color: #00122d; 

}

header .container{
    display: flex;
   justify-content: space-between;
    line-height: 60px;
}

.nickname i{
    font-size: 27px;
    font-weight: bold;
    color: #17f9ff;
    line-height: 60px;
    margin-left: 2vw;
}

.atalhos{
    margin-right: 2vw;
}

.atalhos ul, .mobile ul{
    list-style-type: none;  
    text-align: center;
}

.mobile ul{
    background: #00122d;
}

.atalhos ul li{
    margin: 0 10px;
    display: inline-block;
}

.atalhos ul li a, .mobile ul li a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.atalhos ul li a:hover{
    color: #17f9ff;
}

.mobile ul li a:hover{
    color: #17f9ff;
}

nav.mobile{
    display: none;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    width: 100%;
}


.bars{
    position: absolute;
    right: 2%;
    display: none;
    cursor: pointer;
    font-size:27px;
    color: white;
    flex-grow: 1;
}

.bars i:hover{
    color: #17f9ff;
}

/*sobre-mim*/

.textos-sobre{
    text-align: center;
}

.textos-sobre h1{
    margin-top: 70px;
    font-size: 50px;
}

.textos-sobre h1 span{
    color: #17f9ff;
}

.textos-sobre h3{
    margin-top: 40px;
    font-size: 33px;
    font-weight: lighter;
}

.textos-sobre p{
    margin: 40px auto 0 auto;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 2px;
    max-width: 600px;
    font-size: 17px;
}

/*projetos*/

section.projetos, section.tecnologias{
    margin-top: 70px;
}

section.projetos h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 33px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.box-projeto{
    width: calc(33.3% - 40px);;
    height: 300px;
    margin: 20px;
    border-radius: 19px;
    background: linear-gradient(45deg, #053252, #052a45);
    box-shadow:  17px -17px 38px #042842,
                 -17px 17px 38px #063658;
}


.projetos-img{
    background-position: center;
    background-size: cover;
    padding-top: 40%;
    border-radius: 19px 19px 0 0 ;
}

.img-projeto1{
    background-image: url('../imagens/to-do-list.png');
}

.img-projeto2{
    background-image: url('../imagens/tip');
}

.img-projeto3{
    background-image: url('../imagens/insta');
}

.img-projeto4{
    background-image: url('../imagens/calculadora.png');
}

.img-projeto5{
    background-image: url('../imagens/detector-de-frango.png');
}

.img-projeto6{
    background-image: url('../imagens/animez');
}

.box-projeto span{
    position: relative;
    top: -35px;
    left: 10px;
    color: yellow;
    font-size: 1.5vw;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    overflow: hidden;
}

.descricao-projeto{
    text-align: center
}

.descricao-projeto p{
    position: relative;
    top: -25px;
    text-align: justify;
    margin: 5px 10px
}

.tecnologias-projeto p{
    margin: 10px 5px 0px 5px;
    text-transform: uppercase;
    display: inline-block;
}

.descricao-projeto a i{
    cursor: pointer;
    margin: 0 5px 0 5px;
    font-size: 23px;
    color: white;
}

.descricao-projeto a i:hover{
    color: #17f9ff;
}

.ver-mais{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.ver-mais a{
    text-decoration: none;
    background: white;
    color: #03213d;
    padding: 5px 10px;
    border-radius: 10px;
}

.ver-mais a:hover{
    background: #17f9ff;
}
/*Tecnologias*/

section.tecnologias h3{
    text-align: center;
    font-size: 33px;
    overflow: hidden;
}

.lista-tecnologias ul{
    list-style-type: none;  
    text-align: center;
}

.lista-tecnologias ul li{
    display: inline-block;
}

.lista-tecnologias ul li i{
    display: block;
    font-size: 80px;
    margin: 40px 30px 0 30px;
}

/*contato*/


section.contato h3{
    text-align: center;
    font-size: 33px;
    margin: 70px 0 70px 0;
}
.botoes-wrap{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.botao{
    border: 2px solid #1d6285;
    display: inline;
    margin: 15px;
    padding: 5px 10px;

}

.botao a{
    text-decoration: none;
    color: white;
    line-height: 40px;
}

.botao a i{
    vertical-align: middle;
    font-size: 27px;

}

/*footer*/

footer{
    margin-top: 40px;
    padding: 15px;
    background: black;
    text-align: center;
}

.texto-footer h2 span{
    color: #17f9ff;
}

.texto-footer p{
    font-weight: lighter;
}

.footer-nav ul{
    list-style-type: none;  
    text-align: center;
}

.footer-nav ul li{
    display: inline-block;
    margin: 20px 15px;
}

.footer-nav ul li a{
    text-decoration: none;
    color: white;
}

.footer-nav ul li a:hover{
    color: #17f9ff;
}

/*responsivo*/

@media screen and (max-width:1024px){
    
    nav.atalhos{
        display: none;
    }

    .bars{display: block;}


    .textos-sobre p{
        width: 80vw;
    }

    .wrap{justify-content: center;}
    .box-projeto{
        width: 70%;
        height: auto;
    }

    .box-projeto span{
        font-size: 2.5vw;
    }
}

@media screen and (max-width:540px){

    .textos-sobre h1{
        font-size: 24px;
    

    }

    .textos-sobre h3{
        font-size: 1rem;
        margin-top: 10px;
    }

    .box-projeto span{
        font-size: 4.5vw;
    }
}





