*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #272727;
}

p{
    font-size: 17px;
}

body{
    background-color: #EFFFFB;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

/*header*/

header{
    width: 100%;
    height: 60px;
    background-color: #272727;
    margin-bottom: 40px;
}

header .container{
    display: flex;
   justify-content: space-between;
    line-height: 60px;
}

.icon i{
    font-size: 27px;
    font-weight: bold;
    line-height: 60px;
    margin-left: 2vw;
    color: white;
}

.atalhos{
    margin-right: 2vw;
}

.atalhos ul, .mobile ul{
    list-style-type: none;  
    text-align: center;
}

.mobile ul{
    background: #272727;
}

.atalhos ul li{
    margin: 0 10px;
    display: inline-block;
}

.atalhos ul li a, .mobile ul li a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.atalhos ul li a:hover, .mobile ul li a:hover{
    text-decoration: underline;
}


nav.mobile{
    display: none;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    width: 100%;
}

.bars{
    position: absolute;
    right: 2%;
    display: none;
    cursor: pointer;
    font-size:27px;
    flex-grow: 1;
}

.bars i{
    color: white;
}

.bars i:hover{
    color: #EFFFFB;
}

/*sobre-mim*/
.textos-sobre h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 33px;
}
.textos-sobre p{
    margin: 40px auto 0 auto;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
    max-width: 600px;
}

/*projetos*/

section.projetos, section.tecnologias{
    margin-top: 70px;
}
section.projetos .head-container{
    margin-bottom: 70px;
}
section.projetos .head-container h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 33px;
}
section.projetos .head-container p{
    margin: 40px auto 0 auto;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
    max-width: 600px;
}


.wrap{
    display: flex;
    flex-wrap: wrap;
}

.box-projeto{
    width: calc(33.3% - 40px);;
    margin: 20px;
}
.box-projeto img{
    display: block;  
    width: 100%;
    height: auto;   
    border-radius: 8px;
    margin-bottom: 15px;
}


.box-projeto a i{
    font-size: 26px;
    margin-top: 10px;
}
.box-projeto a i:hover{
    color: #4F98CA;
}
.ver-mais{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.ver-mais a{
    text-decoration: none;
    background: #50D890;
    color: #272727;
    padding: 10px 20px;
    border-radius: 10px;
}

.ver-mais a:hover{
    background: #4F98CA;
}
/*Tecnologias*/

section.tecnologias{
    margin-bottom: 230px;
}

section.tecnologias h3{
    text-align: center;
    font-size: 33px;
    overflow: hidden;
}

section.tecnologias p{
    margin: 40px auto 30px auto;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
    max-width: 600px;
}

.slider {
    width: 100%;
    overflow: hidden; 
    padding: 20px 0;
    position: absolute;
    left: 0;
  }
  
  .slider-track {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px; /* Espaço entre os itens */
    transition: transform 0.1s linear; /* Suaviza o movimento */
  }
  
  .slider-item {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre ícone e texto */
    white-space: nowrap; /* Impede a quebra de linha nos textos */
  }
  

.slider-item{
    text-align: center;
  display: inline;
  margin: 0 40px;
}
.slider-item i{
  font-size: 80px;
  display: block;
}

/*contato*/


section.contato h3{
    text-align: center;
    font-size: 33px;
    margin: 70px 0 70px 0;
}
.botoes-wrap{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.botao{
    display: inline;
    margin: 15px;
    padding: 5px 10px;
}
.contato .Pcontato{
    margin: 40px auto 0 auto;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
    max-width: 600px;
}

.botoes-wrap .botao a,.botoes-wrap .botao p{
    text-decoration: none;
    color: #272727;
    line-height: 40px;
}

.botao i{
    vertical-align: middle;
    font-size: 27px;
}

.botao i:hover{
    color: #4F98CA;
}

/*footer*/

footer{
    margin-top: 40px;
    padding: 15px;
    background: #272727;
    text-align: center;
}

.texto-footer h2{
    color: white;
}

.texto-footer p{
    font-weight: lighter;
    color: white;
}

.footer-nav ul{
    list-style-type: none;  
    text-align: center;
}

.footer-nav ul li{
    display: inline-block;
    margin: 20px 15px;
}

.footer-nav ul li a{
    text-decoration: none;
    color: white;
}

.footer-nav ul li a:hover{
    text-decoration: underline;
}
/*responsivo*/

@media screen and (max-width:1024px){
    
    nav.atalhos{
        display: none;
    }

    .bars{display: block;}


    .textos-sobre p, .tecnologias p, .head-container p, .Pcontato{
        width: 80vw;
    }

    .wrap{justify-content: center;}
    .box-projeto{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .box-projeto span{
        font-size: 2.5vw;
    }
}

@media screen and (max-width:540px){

    .textos-sobre h1{
        font-size: 24px;
    }

    .textos-sobre h3{
        font-size: 1rem;
        margin-top: 10px;
    }

    .box-projeto span{
        font-size: 4.5vw;
    }
}